<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ajax</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>

<div id="div1">
    123
</div>
<div id="div2">
    before
</div>

<button onclick="ajax()">refresh!</button>

<script src="/static/js/jquery3.js" />
<script src="/static/layui/layui3.js"></script>
<script type="text/javascript">
    function ajax() {
        //alert(123);
        $.ajax({
            url: "http://127.0.0.1:8000/query",
            cache: false,
            success: function (html) {
                $("#div2").html(html);
            }
        })
    }
</script>
</body>
</html>