<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style type="text/css">
        table{
            text-align: center;
        }
        th{
            text-align: center!important;
        }
    </style>
</head>
<body class="layui-bg-green">
{include file="/public/_header"}
<div class="layui-fluid layui-bg-green">
    <div class="layui-row">
        <div class="layui-col-md10 layui-col-lg-offset1">
            <br>
            <p class="layui-font-16">我的订单</p>
            <hr>
            <table class="layui-table">
                <thread>
                    <th>序号</th>
                    <th>电影</th>
                    <th>场次</th>
                    <th>票数/座位</th>
                    <th>合计</th>
                    <th>状态</th>
                    <th>QR</th>
                </thread>
                {foreach $orders as $i => $o}
                <tr>
                    <td style="text-align: center">{$i+1}</td>
                    <td>{$o->time->film->film_name}</td>
                    <td>{$o->time->hall->toCinema->cinema_name} {$o->time->hall->hall_name}</td>
                    <td>
                        {foreach $o->item as $item}
                        <button class="layui-btn layui-btn-primary layui-border-red">{$item->pos_x}排{$item->pos_x}座</button>
                        {/foreach}
                    </td>
                    <td>￥{$o->total}</td>
                    {if $o->order_state == '0'}<td>待支付</td>{/if}
                    {if $o->order_state == '1'}<td>未使用</td>{/if}
                    {if $o->order_state == '2'}<td>已使用</td>{/if}
                    {if $o->order_state == '1'}
                    <td><img src="https://api.pwmqr.com/qrcode/create/?url=http://127.0.0.1:8000/user/my_order+{$o->order_id}"/></td>
                    {/if}
                    {if $o->order_state != '1'}<td><p>已用/无效</p></td>{/if}
                </tr>
                {/foreach}

            </table>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
</body>
</html>