<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付成功</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">

</head>
<body>
{include file="/public/_header"}
<div class="layui-fluid layui-bg-green">
    <div class="layui-row ">
        <div class="layui-col-md10 layui-col-lg-offset1">
            <br>
            <center>
                <p class="layui-font-16 layui-col-md3">选择影片，场次</p>
                <p class="layui-font-16 layui-col-md3">选座，填手机号</p>
                <p class="layui-font-16 layui-col-md3">确认订单，支付</p>
                <p class="layui-font-16 layui-col-md3" style="margin-bottom: 6px">支付成功，取票</p>
            </center>
            <div class="layui-col-md3 layui-bg-orange" style="height: 5px!important;"></div>
            <div class="layui-col-md3 layui-bg-black" style="height: 5px!important;"></div>
            <div class="layui-col-md3 layui-bg-orange" style="height: 5px!important;"></div>
            <div class="layui-col-md3 layui-bg-black" style="height: 5px!important;"></div>
        </div>
        <div class="layui-col-md10 layui-col-lg-offset1 layui-bg-red"></div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
</body>
</html>